@import '~bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'fonts.css';

/* Common */

body {
    height: 100%;
    font-family: "Sofia Pro Semi Bold", serif;
    background: #F7F3EF;
}

@keyframes fadeBlock {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* Navbar */

#navbar, #sidebar {
    z-index: 2;
    background-color: #F7F3EF;
}

#NavLoginBtn {
    background: #E7871E !important;
    border-radius: 4px;
    color: #F7F3EF;
    font-family: Roboto, serif;
}

#NavLoginBtn:focus {
    box-shadow: none;
}

#NavLoginBtn:hover {
    background-color: #E7871E !important;
}

#NavOrdersBtn:hover img {
    filter: brightness(0) saturate(100%) invert(66%) sepia(15%) saturate(80%) hue-rotate(314deg) brightness(92%) contrast(87%);
}

.app .nav-item a {
    color: #A39B9B !important;
}

.app .nav-item a:hover, .menuItemDot {
    color: #4E4E4E !important;
}

.app .nav-item a:hover ~ .menuItemDot {
    visibility: visible;
}

.menuItemDot {
    font-size: x-small;
    visibility: hidden;
}

/* Sidebar */

.swiper-pagination {
    right: 0 !important;
    bottom: 0;
    top: revert !important;
    transform: initial !important;
    box-shadow: -25px 0 39px -25px rgb(177 177 177 / 25%);
    opacity: 0;
    background: #F7F3EF;
}

.swiper-pagination-bullet:hover {
    background-color: #FFF;
    cursor: pointer;
}


.swiper-pagination-bullet-active .sidebarIcon, .swiper-pagination-bullet:hover .sidebarIcon {
    background-color: #EFAF00;
}

.swiper-pagination-bullet {
    height: revert;
    background-color: #eaeaea;
    border-radius: 10px;
    width: fit-content;
    opacity: 1;
    padding: 8px;
}

.swiper-pagination-bullet-active {
    background-color: #FFF;
}

.sidebarIcon {
    padding: 1rem;
    background-color: #c3c3c3;
}

.formSlide {
    background: linear-gradient(to right, #EFAF00 25%, #F7F3EF 25%, #F7F3EF 25%);
}

#socialIcons.formSlide a {
    color: white;
}

#socialIcons.formSlide i:hover {
    color: #5d5d5d;
}


/* Footer */

#socialIcons {
    bottom: 0;
    padding-left: 8%;
    background-color: #F7F3EF;
}

#socialIcons a {
    color: #A39B9B;
    font-size: 21px;
}

#socialIcons i:hover {
    color: #EFAF00;
}


/* Home */

.swpSlideContainer {
    margin-left: 6%;
}

.mainBtn {
    padding: 13px 27px;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto, serif;
    height: fit-content;
    width: fit-content;
}

.validateBtn {
    background: #EFAF00;
    color: #FFF;
}

.returnBtn {
    background: #E1D8CD;
    color: #4E4E4E;
}

.returnBtn:hover {
    background: #d1d1d1;
}

.validateBtn:hover {
    background: #fb9b1b;
    color: white;
}


/* Overflowed lists */

.overflowedList .listItem {
    background: rgba(239, 175, 0, 0.1);
    border-radius: 4px;
    padding: 10px 11px;
}

.overflowedList .listItem:hover {
    cursor: pointer;
    background: rgba(239, 175, 0, 0.2);
}

.overflowedList .listItem.active {
    background: rgb(239 175 0 / 35%);
    box-shadow: 0 1px 74px rgba(175, 175, 175, 0.25);
}

.overflowedList .listItem.active .cookingTypeName {color: #4E4E4E;}

.overflowedList::-webkit-scrollbar-thumb {
    background: #EFAF00 !important;
    border-radius: 10px !important;
}

.overflowedList::-webkit-scrollbar {
    width: 10px !important;
    background-color: #fff !important;
    box-shadow: 0 4px 4px rgb(187 187 187 / 25%);
    border-radius: 10px;
}

.overflowedList img {
    width: 59px;
    height: 59px;
    background-color: #FFF;
    border-radius: 10px;
}


/* Carousels */

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #EFAF00;
    background-size: 50%;
}


/* Form pages */

.formApp {
    background: linear-gradient(to right, #EFAF00 25%, #E5E5E5 25%, #E5E5E5 25%);
}

.formApp #navbar {
    background: none;
}

.formApp .nav-item a:hover, .formApp .menuItemDot {
    color: #7c7c7c !important;
}
.formApp .nav-item a {
    color: #4E4E4E !important;
}

.formApp #socialIcons {
    background: none;
}

.formApp #socialIcons a {
    color: white;
}

.formBlock {
    box-shadow: 0 1px 74px rgba(175, 175, 175, 0.25);
    border-radius: 4px;
}

.formBlock .formTitle {
    font-size: 31px;
    color: #EFAF00;
}

.formBlock .formSubTitle {
    font-family: 'Roboto', serif;
    color: #A39B9B;
}

.formBlock .formText {
    font-family: 'Roboto', serif;
    color: #A39B9B;
}

.formBlock .formBtn {
    color: #EFAF00;
    text-decoration: underline;
}

.formBlock label {
    font-family: 'Roboto', serif;
    color: #797979;
}

.formBlock input, .formBlock textarea {
    background: rgba(239, 175, 0, 0.2);
    border-radius: 2px;
    padding: 1.5em;
    border: none;
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: #797979;
}

.formBlock input::placeholder, .formBlock textarea::placeholder {
    color: #BDB4A7 !important;
}

.formBlock .input-group-append {
    margin-left: 0;
}

.formBlock .input-group-text {
    background-color: rgba(239, 175, 0, 0.2);
    border: none;
    border-radius: 2px;
}

.formBlock input:focus, .formBlock textarea:focus {
    background-color: rgba(239, 175, 0, 0.2);
    box-shadow: 0 0 0 0.2rem rgb(213 133 8 / 37%);
}

.formBlock .formSubmitBtn {
    padding: 13px 27px;
    background: #EFAF00;
    border-radius: 4px;
}

.formBlock .formSubmitBtn:focus {
    box-shadow: none;
}

.alreadyConnectedTitle {
    font-family: Sofia Pro, serif;
    font-size: 25px;
    color: #4E4E4E;
}


/* Modal */

#loginWarningModalLabel {
    font-size: 31px;
    color: #EFAF00;
}

.modal-backdrop {
    background: rgba(116, 114, 103, 0.35) !important;
    backdrop-filter: blur(2px) !important;
}

.modal-content {
    border-radius: 10px;
    background: #fbfbfb !important;
}

.modalSubText {
    font-family: 'Roboto', serif;
    color: #BDB4A7;
}

.modal-footer {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #E7871E;
}



