@import '~bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'fonts.css';

/* Common */

body {
    height: 100%;
    font-family: "Sofia Pro Semi Bold", serif;
    background: #F7F3EF;
}


/* Navbar */

#navbar, #sidebar {
    z-index: 2;
    background-color: #F7F3EF;
}

#NavLoginBtn {
    border-radius: 10px;
    background-color: #EFAF00 !important;
    color: #F7F3EF;
    font-family: Roboto, serif;
}

#NavLoginBtn:focus {
    box-shadow: none;
}

#NavLoginBtn:hover {
    background-color: #E7871E !important;
}

#NavCartBtn:hover img {
    filter: brightness(0) saturate(100%) invert(66%) sepia(15%) saturate(80%) hue-rotate(314deg) brightness(92%) contrast(87%);
}

.app .nav-item a {
    color: #A39B9B !important;
}

.app .nav-item a:hover, .menuItemDot {
    color: #4E4E4E !important;
}

.app .nav-item a:hover ~ .menuItemDot {
    visibility: visible;
}

.menuItemDot {
    font-size: x-small;
    visibility: hidden;
}

/* Sidebar */

.swiper-pagination {
    right: 0 !important;
    bottom: 0;
    top: revert !important;
    transform: initial !important;
    box-shadow: -25px 0 39px -25px rgb(177 177 177 / 25%);
    opacity: 0;
}

.swiper-pagination-bullet:hover {
    background-color: #FFF;
    cursor: pointer;
}


.swiper-pagination-bullet-active .sidebarIcon, .swiper-pagination-bullet:hover .sidebarIcon {
    background-color: #EFAF00;
}

.swiper-pagination-bullet {
    height: revert;
    background-color: #eaeaea;
    border-radius: 10px;
    width: fit-content;
    opacity: 1;
    padding: 8px;
}

.swiper-pagination-bullet-active {
    background-color: #FFF;
}

.sidebarIcon {
    padding: 1rem;
    background-color: #c3c3c3;
}

/* Footer */

#socialIcons {
    bottom: 0;
    margin-left: 8%;
}

#socialIcons a {
    color: #A39B9B;
    font-size: 21px;
}

#socialIcons i:hover {
    color: #EFAF00;
}


/* Home */

.swpSlideContainer {
    margin-left: 6%;
}
