<div class="swiper-slide d-flex flex-row align-items-end">
    <div class="swpSlideContainer w-100">
        <div>Slide 1</div>
        <div class="btnBookChief btn btn-warning">Réserver un chef</div>
    </div>
</div>